html, body{
    height: 100%;
}

.fundoForm{
	background: url('/img/Logo.png'); 
	background-repeat: no-repeat;
	background-position: right;
	background-size: 30%;
}

.cabecalhoTable{
	background-color: #b4bade;
	color: #061991; 
}

.tabela{
	border-color: #838cc8 !important;
}