<!DOCTYPE html>
<html>
<head>
	<title>Judoca</title>
	<meta charset="utf-8">
    
    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/padrao.css" crossorigin="anonymous">
</head>

<body>
    <span id="nav"></span>
    <!-- Carrega menu de navegação -->
    <script type="text/javascript">
        $(document).ready(function(){
          $("#nav").load('/html/navbar.html');
        });
    </script>

    <div id="div_rodape"></div>
    <!-- Carrega rodapé -->
    <script type="text/javascript">
        $(document).ready(function(){
          $("#div_rodape").load('/html/rodape.html');
        });
    </script>
    
    <div class="container" style="padding-bottom: 60px;">        
        <br />
            <!-- Título -->
        <h3 style="color: #061991">Instituição</h3>

        <br>
            <!-- Campos -->        
        <div class="row justify-content-end">
            <div class="col-lg-5">                
                <div class="input-group">
                    <input type="text" class="form-control" id="BuscaInst" placeholder="Busque por nome ou CNPJ de uma Instituição">
                    <div class="input-group-append">
                        <button class="btn btn-default" type="button" name="Busca" style="border: 1px #838cc8 solid">
                            <img src="/img/lupa.png" width="15">
                        </button>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="table-responsive pre-scrollable">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="25%" scope="col" class="cabecalhoTable">Instituição</th>
                        <th width="20%" scope="col" class="cabecalhoTable">CNPJ</th>
                        <th width="20%" scope="col" class="cabecalhoTable">Telefone</th>
                        <th width="31%" scope="col" class="cabecalhoTable">Endereço</th>
                        <th width="4%"scope="col" class="cabecalhoTable">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Balalala</td>
                        <td>Balalala</td>
                        <td>Balalala</td>
                        <td>Balalala</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
                                    <img src="/img/tres_pontinhos.png" width="25">    
                                </button>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Editar</a>
                                    <a class="dropdown-item" href="#">Excluir</a>                                
                                </div>
                            </div>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>    
</body>
</html>